#logo {
    width: 7vw;
}

.background-color-notification {
    background-color:rgba(92, 151, 241, 0.5);
}

.background-color-card {
    background-color: rgb(0, 0, 0, 0.09);
}

.background-color-all {
    /* background-color:rgba(193, 192, 192, 0.5); */
}

.col-flex {
    /* display: flex; */
}

header {
    /* background-color: white; */
}