<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://ru.wherebackend.vtbmoretech/menu.application" insertBefore="administration">
        <item screen="vtbmt_User.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
        <item screen="vtbmt_Employee.browse"
              caption="msg://ru.wherebackend.vtbmoretech.screen.employee/employeeBrowse.menu"/>
        <item screen="vtbmt_Achviement.browse"
              caption="msg://ru.wherebackend.vtbmoretech.screen.achviement/achviementBrowse.menu"/>
        <item screen="vtbmt_Event.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.event/eventBrowse.menu"/>
        <item screen="vtbmt_News.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.news/newsBrowse.menu"/>
        <item screen="vtbmt_Topic.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.topic/topicBrowse.menu"/>
        <item screen="vtbmt_Department.browse"
              caption="msg://ru.wherebackend.vtbmoretech.screen.department/departmentBrowse.menu"/>
        <item screen="vtbmt_Thing.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.thing/thingBrowse.menu"/>
        <item screen="vtbmt_Order.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.order/orderBrowse.menu"/>
        <item screen="vtbmt_Category.browse"
              caption="msg://ru.wherebackend.vtbmoretech.screen.category/categoryBrowse.menu"/>
        <item screen="vtbmt_NFT.browse" caption="msg://ru.wherebackend.vtbmoretech.screen.nft/NFTBrowse.menu"/>
        <item screen="vtbmt_SaleNFT.browse"
              caption="msg://ru.wherebackend.vtbmoretech.screen.salenft/saleNFTBrowse.menu"/>
    </menu>

</menu-config>